body{
    background: #fff;
    font-family: var(--font-family);
}
.container{
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
}
.hero-section {
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.hero-section::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
}
.hero-section > .container{
    top: calc(50% - 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
}
.hero-section > img{
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: background 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
    z-index: 1000;
}
.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgb(255 255 255 / 60%);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.header.fixed .menu-item-link{
    color: #01336d;
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 59px;
}
.logo {
    width: 65px;
}
.logo img{
    width: 100%;
}
.header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-bottom: 1px solid #fff;
}
.header.fixed > .container{
    border-bottom: 0;
}
.menu-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 96px;
}
.menu-item-link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    transition: all .3s ease;
}
.menu-item-link:hover{
    color: #fff;
}
.header-socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.header-social {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
    border: 1px solid;
    transition: all .3s ease;
}
.header-social:nth-child(1){
    border-color: #0078FF;
}
.header-social:nth-child(1):hover{
    background: rgb(0, 120, 255);
}
.header-social:nth-child(1):hover svg path{
    fill: #fff;
}
.header-social:nth-child(2){
    border-color: #00E510;
}
.header-social:nth-child(2):hover{
    background: #00E510;
}
.header-social:nth-child(2):hover svg path{
    fill: #fff;
}
.header-social:nth-child(3){
    border-color: #00B0F2;
}
.header-social:nth-child(3):hover{
    background: #00B0F2;
}
.header-social:nth-child(3):hover svg path{
    fill: #fff;
}
.header-social svg{
    width: 63%;
}
.header-social-phone {
    margin-left: 10px;
    padding: 0 20px;
    height: 50px;
    border: 1px solid #ffbd4c;
    border-radius: 100px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: #ffbd4c;
}
.header-social-phone:hover{
    background: #ffbd4c;
    color: #fff;
}
.hero-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 55px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

.hero-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    max-width: 1138px;
    margin: 0 auto 40px auto;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.hero-button {
    position: relative;
    overflow: hidden;
    max-width: 281px;
    margin: 0 auto;
    border-radius: 100px;
    padding: 10px 10px  10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    background: transparent;
    z-index: 1;
    cursor: pointer;
    border: none;
}

/* синий фон */
.hero-button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #2b8eff;
    border-radius: inherit;
    z-index: -1;
}

/* жёлтая заливка */
.hero-button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #FFBD4C;
    border-radius: inherit;
    z-index: -1;
    transition: width 0.4s ease;
}

.hero-button:hover::after {
    width: 100%;
}

/* текст */
.hero-button-text {
    position: relative;
    z-index: 2;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
    text-wrap: nowrap;
}

/* иконка */
.hero-button-icon {
    flex-shrink: 0;
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #FFBD4C url("../images/icons/button-arrow-icon.svg") no-repeat center;
    background-size: 60%;
    position: relative;
    z-index: 2;
}

.section-header{
    margin-bottom: 100px;
}
.section-title{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 45px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #01336d;
}
.about-section{
    /*height: 860px;*/
    padding-top: 55px;
    background-image: url("../images/about-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.about-items{
    height: 660px;
    position: relative;
}
.about-item{
    position: absolute;
    border-radius: 30px;
    padding: 30px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    color: #01336d;
}
.about-item:nth-child(1){
    background: #c9e2ff;
    max-width: 498px;

    left: 267px;
    top: 10px;

}
.about-item:nth-child(1)::before{
    content: url("../images/icons/about-item-after-icon.svg");
    position: absolute;
    top: -7px;
    left: 0;
}
.about-item:nth-child(2){
    background: #c9e2ff;
    max-width: 678px;

    right: -54px;
    top: 0;
}
.about-item:nth-child(2)::before{
    content: url("../images/icons/about-item-after-icon.svg");
    position: absolute;
    bottom: 0px;
    right: -3px;
    transform: rotate(180deg);
}
.about-item:nth-child(2)::after{
    content: "";
    width: 205px;
    height: 205px;
    background-image: url("../images/icons/bus-icon.png");
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -140px;
}
.about-item:nth-child(3){
    background: #ffeac9;
    max-width: 500px;

    left: 70px;
    top: 270px;
}
.about-item:nth-child(3)::before{
    content: url("../images/icons/about-item-after-icon-2.svg");
    position: absolute;
    top: -7px;
    left: 0;
}
.about-item:nth-child(4){
    background: #ffeac9;
    max-width: 515px;
    right: 10px;
    top: 270px;
}
.about-item:nth-child(4)::before{
    content: url("../images/icons/about-item-after-icon-2.svg");
    position: absolute;
    top: -7px;
    left: 0;
}
.about-item:nth-child(5){
    background: #c9e2ff;
    max-width: 567px;

    left: 636px;
    bottom: 0;
}
.about-item:nth-child(5)::before{
    content: url("../images/icons/about-item-after-icon.svg");
    position: absolute;
    top: -7px;
    left: 0;
}

.services-section{
    background: #c9e2ff;
    padding-bottom: 265px;
    margin-top: 100px;
    padding-top: 100px;
    position: relative;
}
.services-section .container{
    position: relative;
    z-index: 3;
}
.services-section > .bg{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.services-section > .img{
    position: absolute;
    z-index: 2;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.services-section-header .section-title{
    margin-bottom: 50px;
}
.services-section > .blur {
    position: absolute;
    z-index: 1;
    top: -100px;
    left: 0;
    width: 100%;
    height: 200px;
}

.services-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.services-tab {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: #01336d;

    border-radius: 100px;
    padding: 17px 20px;
    width: 237px;
    height: 50px;
    background: #fff;
    cursor: pointer;
    transition: all .3s ease;
}

.services-tab.active {
    background: #2b8eff;
    color: #fff;
}
.services-tab:hover{
    background: rgba(43, 142, 255, 0.5);
    color: #fff;
}
.services-carousel-container{
    position: relative;
    height: 590px;
}
.services-carousel-container:nth-child(2){
    display: none;
}
.services-carousel-container:nth-child(3){
    display: none;
}
.services-carousel-container:nth-child(4){
    display: none;
}
.services-carousel-prev,
.services-carousel-next{
    z-index: 2;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #2b8eff;

    display: flex;
    align-items: center;
    justify-content: center;
}
.services-carousel-prev{
    left: -25px;
}
.services-carousel-next{
    right: -25px;
}
.services-carousel-next img{
    transform: rotate(180deg);
}
.services-carousel-item{
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    height: 590px;
}
.services-carousel-item > img{
    position: absolute;
    z-index: 2;
    object-fit: cover;
    height: 100%;
}
.services-item-button{
    transition: all .3s ease;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #01336d;

    width: 100%;
    border-radius: 100px;
    padding: 15px 20px;
    background: #fff;
}
.services-item-button:hover{
    background: #2b8eff;
    color: #FFF;
}
.services-item-content {
    z-index: 3;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: calc(100% - 40px);

    border-radius: 30px;
    padding: 20px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background: rgba(43, 142, 255, 0.3);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.services-item-bottom{

}

.services-item-price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 23px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 5px;
}

.services-item-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #fff;
    height: 70px;
    margin-bottom: 20px;
}


.sights-section{
    margin-top: -50px;
    background: #FFEAC9;
    padding-bottom: 265px;
    padding-top: 250px;
    position: relative;
}

.sights-section > .blur {
    position: absolute;
    z-index: 1;
    top: -100px;
    left: 0;
    width: 100%;
    height: 200px;
}
.sights-section > .img{
    position: absolute;
    top: 0;
    right: 0;
}
.sights-section > .bg{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-height:  1200px;
}



.sights-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.sights-item {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    height: 520px;
}
.sights-item > img{
    position: absolute;
    z-index: 2;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.sights-item-content {
    z-index: 3;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: calc(100% - 40px);
    border-radius: 30px;
    padding: 20px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background: rgba(255, 189, 76, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.sights-item-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    line-height: 130%;
    color: #fff;
}

.sights-item-button {
    min-width: 60px;
    width: 60px;
    aspect-ratio: 1 / 1;
    background: #ffbd4c;
    border-radius: 20px;

}
.sights-item-button:hover{
    background: #9f9072;
}




.comments-section{
    margin-top: -30px;
    background: #C9E2FF;
    position: relative;
    padding-bottom: 350px;
    padding-top: 150px;
}
.comments-section > .bg{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}
.comments-section > .blur {
    position: absolute;
    z-index: 1;
    top: -100px;
    left: 0;
    width: 100%;
    height: 200px;
}
.comments-section > .container{
    position: relative;
    z-index: 2;
}



.comments-carousel-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.comments-carousel-prev,
.comments-carousel-next{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFBD4C;

    display: flex;
    align-items: center;
    justify-content: center;
}
.comments-carousel-next img{
    transform: rotate(180deg);
}
/*.comments-button-all {*/
/*    position: relative;*/
/*    max-width: 281px;*/
/*    text-wrap: nowrap;*/
/*    margin: 0 auto;*/
/*    margin-top: 50px;*/
/*    background: #ffbd4c;*/
/*    border-radius: 100px;*/
/*    padding: 26px 75px 26px 30px;*/

/*    font-family: var(--font-family);*/
/*    font-weight: 600;*/
/*    font-size: 18px;*/
/*    line-height: 100%;*/
/*    text-transform: uppercase;*/
/*    color: #fff;*/
/*}*/
/*.comments-button-all::after{*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*    content: "";*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 50px;*/
/*    aspect-ratio: 1 / 1;*/
/*    border-radius: 50%;*/
/*    background: #fff url("../images/icons/button-arrow-icon-black.svg") no-repeat center;*/
/*    background-size: 60%;*/
/*}*/
.comments-button-all {
    position: relative;
    overflow: hidden;
    max-width: 210px;
    margin: 50px auto 0;
    border-radius: 100px;
    padding: 12px 10px  12px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    background: transparent;
    z-index: 1;
    cursor: pointer;
    border: none;
}

/* синий фон */
.comments-button-all::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #ffbd4c;;
    border-radius: inherit;
    z-index: -1;
}

/* жёлтая заливка */
.comments-button-all::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #fff;
    border-radius: inherit;
    z-index: -1;
    transition: width 0.4s ease;
}

.comments-button-all:hover::after {
    width: 100%;
}

/* текст */
.comments-button-all-text {
    position: relative;
    z-index: 2;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
    text-wrap: nowrap;
}
.comments-button-all:hover .comments-button-all-text{
    color: #215085;
}
/* иконка */
.comments-button-all-icon {
    flex-shrink: 0;
    width: 32px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #FFF url("../images/icons/button-arrow-icon-black.svg") no-repeat center;
    background-size: 60%;
    position: relative;
    z-index: 2;
}

.comments-carousel-item img{
    width: 150px !important;
    height: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}
.comments-carousel-item-author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 40px;
    margin-bottom: 45px;
}

.comments-carousel-item-author-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    line-height: 130%;
    color: #01336d;
}

.comments-carousel-item-author-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #01336d;
}

.comments-carousel-item-comment {
    position: relative;
    background: #ffeac9;
    border-radius: 30px;
    padding: 30px;


    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #01336d;
}
.comments-carousel-item-comment::after{
    content: url(../images/icons/comments-carousel-item-after-icon.svg);
    position: absolute;
    top: -25px;
    left: 45px;
    z-index: -1;
}
.section-header-text{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    color: #000;
    max-width: 1100px;
    margin: 0 auto;
}


.sights-section-header .section-title{
    color: #000;
}
.contacts-section{
    margin-top: -50px;
    background: #FFEAC9;
    padding-bottom: 100px;
    padding-top: 250px;
    position: relative;
}

.contacts-section > .blur {
    position: absolute;
    z-index: 1;
    top: -42px;
    left: 0;
    width: 100%;
    height: 200px;
}
.map{
    margin-bottom: 50px;
}
.map iframe{
    border-radius: 30px;
}

.contacts-items {
    border-radius: 100px;
    background: #c9e2ff;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts-item:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.contacts-item a img{
    transition: all .3s ease;
}
.contacts-item a img:hover{
    transform: scale(1.05);
}

.contacts-mail{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 35px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #01336d;
}
.contacts-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    color: #01336d;

    border: 1px solid #01336d;
    border-radius: 100px;
    padding: 20px 30px;
    max-width: 422px;
}






#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}
.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ddd;
    border-top: 6px solid #2b8eff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 10px;              /* ширина скроллбара */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;       /* цвет фона */
}

::-webkit-scrollbar-thumb {
    background-color: #c9e2ff ; /* сам ползунок */
    border-radius: 5px;        /* закругления */
}

/* Firefox */
html {
    scrollbar-width: thin;                 /* тонкий скроллбар */
    scrollbar-color: #2b8eff #c9e2ff;      /* цвет ползунка и трека */
}



.sights-page-hero-text{
    max-width: 924px;
}
.sights-page-hero-button{
    max-width: 260px;
}
.sights-page-content-button{
    margin-top: 50px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-height: 740px;
    margin: 100px auto 0;
    position: relative;
    z-index: 2;
}
.gallery:after{
    position: absolute;
    left: 0;
    top: 0;
}
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    transition: all .3s ease;
}
/*.gallery img:hover{*/
/*    transform: scale(1.1);*/
/*}*/
.gallery img:first-child {
    grid-row: span 2;
    aspect-ratio: 1 / 1;
}

.gallery img:nth-child(2),
.gallery img:nth-child(3) {
    aspect-ratio: 2 / 1;
}
.sights-page-contacts-items{
    margin-top: 120px;
    position: relative;
    z-index: 2;
}
.content-section{
    position: relative;
    padding-bottom: 50px;
    padding-top: 120px;
}
.content-section-img{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 100px;
    width: 100%;
}
.content-section .container{
    position: relative;
    z-index: 2;
}
.content-section-blur{
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0px;
    width: 100%;
}
.content-section .container h2{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 55px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: center;
    color: #01336d;
    margin-bottom: 50px;
}
.content-section .container h3{
    position: relative;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #01336d;
    margin-bottom: 65px;
}
.content-section .container h3 span{
    position: relative;
    z-index: 2;
}
.content-section .container h3:after{
    position: absolute;
    z-index: 1;
    content: url("../images/content-section-blur.svg");
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content-section .container p{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    color: #01336d;
    margin: 0 180px 65px;
}
.content-section .container p:nth-child(2){
    margin-bottom: 135px;
    max-width: 1200px;
}
.content-section .container p:nth-child(4){
    max-width: 1380px;
}
.content-section .container ul{
    max-width: 1060px;
    margin: 0 auto 65px;
}
.content-section .container ul li{
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    color: #01336d;
    padding-left: 70px;
    position: relative;
}
.content-section .container ul li:not(:last-child){
    margin-bottom: 20px;
}
.content-section .container ul li:before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    background: url("../images/icons/ul-checkmark-1.png") no-repeat center/contain;
}
.content-section .container ul:last-of-type li:before{
    background: url("../images/icons/ul-checkmark-2.png") no-repeat center/contain;
}


.page-social{
    display: none;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid #00E510;
    position: fixed;
    z-index: 999;
    bottom: 16px;
    right: 16px;
    width: 50px;
    height: 50px;
    background: #00E510;
}
.page-social svg{
    width: 63%;
}
.page-social svg path{
    fill: #fff;
}




